/* **********************GOOGLE FONT LINK**************** */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fbfcfe;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.container{
  background-color: white;
  border: 3px black solid;
  border-radius: 10px;
  padding: 30px;
  max-width: 1000px;
  text-align: center;
}
.code-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0;

}
.code{
  border-radius: 5px;
  font-size: 75px;
  height: 120px;
  width: 100px;
  border: 1px solid #eee;
  margin: 1%;
  text-align: center;
  font-weight: 300;
  -moz-appearance: textfield;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.code:valid {
  border-color: #3498bd;
  outline-color: #3498bd;
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.25) ;
}
.info{
  background-color: #eaeaea;
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: #777;
  border-radius: 5px;
}


@media (max-width:800px){
  .code-container{
    flex-wrap: wrap;

  }
  .code{
    font-size: 60px;
    height: 80px;
    max-width: 70px;
  }
}